## Workflow summary:

### Loaded source data files with geocoding (Ed's work), checked files loaded in correctly with correct dimensions, filtered officer profiles by distinct uids, checked that distinct officers were preserved (compared to excel pivot table), joined the data, checked the data joined properly (comparing incidents reports from excel and after pd join), explored dataframe.

## To address:

### 1) Object dtypes likely need to be turned into strings/datetime/etc
### 2) drop_duplicates kept the first instance of a duplicate off. profile. However, each duplicate row contains diff data points for the same columns or different columns of values all together. Need to discuss what we want to keep.

## Contributors:
### Ed and Dennis

In [ ]:
from google.colab import drive
import pandas as pd

In [ ]:
# mounting google drive folder for data and notebook storage
drive.mount('/content/drive/')
%cd /content/drive/My Drive/Chi_crime_stats

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
/content/drive/My Drive/Chi_crime_stats

In [ ]:
# setting some display parameters
pd.set_option('display.max_columns', None)  # Display all columns
pd.set_option('display.max_rows', None)     # Display all rows
pd.set_option('display.width', None)        # Display without line-wrapping

# Loading in source csv files and checking dimensions

In [ ]:
# load src files
df_geocoded_src = pd.read_csv('trr_geocoded.csv', index_col=False)
df_off_profile_src = pd.read_csv('officer_profiles.csv', index_col=False)

In [ ]:
df_geocoded_src.head(1)

,trr_id,rd_no,cr_no_obtained,subject_cb_no,event_no,beat,block,street_direction,street_name,location,date,time,indoor_or_outdoor,lighting_condition,weather_condition,notify_oemc,notify_dist_sergeant,notify_op_command,notify_det_div,number_of_weapons_discharged,party_fired_first,duty_status,injured,member_in_uniform,subject_gender,subject_race,subject_age,subject_birthyear,subject_armed,subject_injured,subject_alleged_injury,uid,address,loc,lon,lat
0,7.0,HK-131349,NaN,15703260.0,401716237,1131.0,4499.0,West,VAN BUREN ST,STREET,2004-01-17,20:04:00,NaN,NaN,NaN,Yes,Yes,NaN,NaN,1.0,NaN,Yes,No,Yes,MALE,BLACK,25.0,1978.0,No,No,No,a7e28960-a33d-43bc-8707-d99b0c558e44,4499 West VAN BUREN ST,"4499, West Van Buren Street, Capri Village, Ph...",-87.7403,41.875104

In [ ]:
print(df_geocoded_src.shape)

(10579, 36)

In [ ]:
df_off_profile_src.head(1)

,last_name,first_name,middle_initial,gender,race,birthyear,age,status,appointment_date,position_no,position_description,unit_no,unit_description,resignation_date,star1,star2,star3,star4,star5,star6,star7,star8,star9,star10,star11,sworn,unit_id,unit_detail,star,source,uid
0,HANSEN,GRACIBEL,NaN,F,WHITE HISPANIC,1973.0,NaN,NaN,2004-10-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5512.0,P0-46957_accused,1933d5b3-717a-4e26-8df3-6abfb8ab085b

In [ ]:
print(df_off_profile_src.shape)

(129863, 31)

# Getting rid of repeat profiles for join

In [ ]:
# dropping duplicate officer profiles
df_off_profile_distinct = df_off_profile_src.drop_duplicates('uid')

In [ ]:
# unique counts match with excel pivot tables
print(df_off_profile_distinct.shape)

(35450, 31)

In [ ]:
df_off_profile_distinct.head(1)

,last_name,first_name,middle_initial,gender,race,birthyear,age,status,appointment_date,position_no,position_description,unit_no,unit_description,resignation_date,star1,star2,star3,star4,star5,star6,star7,star8,star9,star10,star11,sworn,unit_id,unit_detail,star,source,uid
0,HANSEN,GRACIBEL,NaN,F,WHITE HISPANIC,1973.0,NaN,NaN,2004-10-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5512.0,P0-46957_accused,1933d5b3-717a-4e26-8df3-6abfb8ab085b

# Joining tables

In [ ]:
# joining
joined_df = pd.merge(df_geocoded_src, df_off_profile_distinct, on='uid', how='inner')

In [ ]:
# checking new df
joined_df.head(1)

,trr_id,rd_no,cr_no_obtained,subject_cb_no,event_no,beat,block,street_direction,street_name,location,date,time,indoor_or_outdoor,lighting_condition,weather_condition,notify_oemc,notify_dist_sergeant,notify_op_command,notify_det_div,number_of_weapons_discharged,party_fired_first,duty_status,injured,member_in_uniform,subject_gender,subject_race,subject_age,subject_birthyear,subject_armed,subject_injured,subject_alleged_injury,uid,address,loc,lon,lat,last_name,first_name,middle_initial,gender,race,birthyear,age,status,appointment_date,position_no,position_description,unit_no,unit_description,resignation_date,star1,star2,star3,star4,star5,star6,star7,star8,star9,star10,star11,sworn,unit_id,unit_detail,star,source
0,7.0,HK-131349,NaN,15703260.0,401716237,1131.0,4499.0,West,VAN BUREN ST,STREET,2004-01-17,20:04:00,NaN,NaN,NaN,Yes,Yes,NaN,NaN,1.0,NaN,Yes,No,Yes,MALE,BLACK,25.0,1978.0,No,No,No,a7e28960-a33d-43bc-8707-d99b0c558e44,4499 West VAN BUREN ST,"4499, West Van Buren Street, Capri Village, Ph...",-87.7403,41.875104,LIMON,MARIO,NaN,M,WHITE HISPANIC,1978.0,39.0,N,2000-09-11,9161,POLICE OFFICER,13.0,DISTRICT 013,2009-01-04,14214.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P0-58155

In [ ]:
# checking rows preserved and col count correct
print(joined_df.shape)

(10579, 66)

# Column value exploration

In [ ]:
# checking dtypes
joined_df.dtypes

trr_id                          float64
rd_no                            object
cr_no_obtained                  float64
subject_cb_no                   float64
event_no                         object
beat                            float64
block                           float64
street_direction                 object
street_name                      object
location                         object
date                             object
time                             object
indoor_or_outdoor                object
lighting_condition               object
weather_condition                object
notify_oemc                      object
notify_dist_sergeant             object
notify_op_command                object
notify_det_div                   object
number_of_weapons_discharged    float64
party_fired_first                object
duty_status                      object
injured                          object
member_in_uniform                object
subject_gender                   object
subject_race                     object
subject_age                     float64
subject_birthyear               float64
subject_armed                    object
subject_injured                  object
subject_alleged_injury           object
uid                              object
address                          object
loc                              object
lon                             float64
lat                             float64
last_name                        object
first_name                       object
middle_initial                   object
gender                           object
race                             object
birthyear                       float64
age                             float64
status                           object
appointment_date                 object
position_no                      object
position_description             object
unit_no                         float64
unit_description                 object
resignation_date                 object
star1                           float64
star2                           float64
star3                           float64
star4                           float64
star5                           float64
star6                           float64
star7                           float64
star8                           float64
star9                           float64
star10                          float64
star11                          float64
sworn                            object
unit_id                         float64
unit_detail                     float64
star                            float64
source                           object
dtype: object

## note: object dtypes likely need to be transformed to string type

In [ ]:
# checking for column null counts
missing_cts = joined_df.isna().sum()
missing_cts

trr_id                              0
rd_no                              11
cr_no_obtained                   8281
subject_cb_no                     996
event_no                            0
beat                                0
block                               0
street_direction                   12
street_name                         0
location                            0
date                                0
time                                5
indoor_or_outdoor                 127
lighting_condition                132
weather_condition                 165
notify_oemc                      1692
notify_dist_sergeant             1696
notify_op_command                9551
notify_det_div                   9551
number_of_weapons_discharged        0
party_fired_first                4885
duty_status                         0
injured                             0
member_in_uniform                   0
subject_gender                      6
subject_race                      123
subject_age                         0
subject_birthyear                   0
subject_armed                      12
subject_injured                    15
subject_alleged_injury             17
uid                                 0
address                             0
loc                                52
lon                                 0
lat                                 0
last_name                           0
first_name                          0
middle_initial                   2373
gender                              0
race                                0
birthyear                         756
age                                13
status                            768
appointment_date                    0
position_no                       674
position_description              768
unit_no                           675
unit_description                  769
resignation_date                 9463
star1                             108
star2                            5984
star3                            8990
star4                           10142
star5                           10467
star6                           10540
star7                           10566
star8                           10570
star9                           10572
star10                          10572
star11                          10579
sworn                           10485
unit_id                         10485
unit_detail                     10571
star                            10484
source                              0
dtype: int64

# Saving joined_df to drive

In [ ]:
file_path = '/content/drive/MyDrive/Chi_crime_stats/offprofile_geocodedincident.csv'
joined_df.to_csv(file_path, index=False)